In [1]:
import pandas as pd

In [4]:
data = {
    "Title": ["Inception", "Dunkirk", "Interstellar", "The Prestige", "Memento"],
    "Director": [
        "Christopher Nolan",
        "Christopher Nolan",
        "Christopher Nolan",
        "Christopher Nolan",
        "Christopher Nolan",
    ],
    "Rating": [8.8, 7.9, 8.6, 8.5, 8.4],
}

In [5]:
df = pd.DataFrame(data)
df

          Title           Director  Rating
0     Inception  Christopher Nolan     8.8
1       Dunkirk  Christopher Nolan     7.9
2  Interstellar  Christopher Nolan     8.6
3  The Prestige  Christopher Nolan     8.5
4       Memento  Christopher Nolan     8.4

In [6]:
df["Rating"].mean()

8.440000000000001

In [7]:
data = {
    "Product": ["Laptop", "Desktop", "Tablet", "Phone", "Smartwatch"],
    "Price": [25000, 12000, 8000, 22000, 5000],
}
df = pd.DataFrame(data)

In [8]:
df

      Product  Price
0      Laptop  25000
1     Desktop  12000
2      Tablet   8000
3       Phone  22000
4  Smartwatch   5000

In [9]:
df[df["Price"] > 20000].sort_values(by="Price", ascending=False)

  Product  Price
0  Laptop  25000
3   Phone  22000

In [15]:
data = {
    "Store": ["A", "B", "A", "B", "A", "B", "A", "B"],
    "Item": [
        "Apple",
        "Banana",
        "Orange",
        "Grape",
        "Apple",
        "Banana",
        "Orange",
        "Grape",
    ],
    "Price": [50, 20, 30, 60, 55, 22, 33, 65],
    "Quantity": [10, 12, 15, 16, 20, 25, 30, 35],
}

In [20]:
df = pd.DataFrame(data)
df["Revenue"] = df["Price"] * df["Quantity"]
dfa = df.groupby(by="Store").agg({"Revenue": "sum", "Price": "mean"}).reset_index()
dfa.rename(columns={"Revenue": "Total Revenue", "Price": "Average price"})

  Store  Total Revenue  Average price
0     A           3040          42.00
1     B           4025          41.75

In [12]:
data = {
    "Category": ["Fruit", "Vegetable", "Fruit", "Vegetable", "Fruit", "Vegetable"],
    "Name": ["Apple", "Carrot", "Banana", "Potato", "Grape", "Onion"],
    "Price": [2, 1, 1.5, 0.5, 3, 1],
    "Quantity": [10, 20, 15, 30, 5, 40],
}
df = pd.DataFrame(data)
fruits = df[df["Category"] == "Fruit"]
total_fruit_value = fruits["Price"].sum() * fruits["Quantity"].sum()
print(total_fruit_value)

195.0

In [13]:
data = {
    'Product': ['A', 'B', 'C', 'A', 'B', 'C'],
    'Price': [100, 200, 300, 150, 250, 350],
    'Quantity': [10, 5, 7, 12, 8, 5]
}
df = pd.DataFrame(data)

9650 225.0

In [ ]:
total_revenue = (df["Price"] * df["Quantity"]).sum()
average_price = df["Price"].mean()
print(total_revenue, average_price)

In [4]:
# Write a Python program using Pandas to create a DataFrame
# from the given data and find the total revenue and average price
# of items sold in each store.

data = {
    "Store": ["A", "B", "A", "B", "A", "B", "A", "B"],
    "Item": [
        "Apple",
        "Banana",
        "Orange",
        "Grape",
        "Apple",
        "Banana",
        "Orange",
        "Grape",
    ],
    "Price": [50, 20, 30, 60, 55, 22, 33, 65],
    "Quantity": [10, 12, 15, 16, 20, 25, 30, 35],
}

df = pd.DataFrame(data)
df["Revenue"] = df["Price"] * df["Quantity"]
dfg = df.groupby(by="Store").agg({"Revenue": "sum", "Price": "mean"}).reset_index()
print(dfg.rename(columns={"Revenue": "Total Revenue", "Price": "Average Price"}))

  Store  Total Revenue  Average Price
0     A           3040          42.00
1     B           4025          41.75

In [7]:
# Write a Python program using Pandas to create a DataFrame from the given data
# and calculate the total amount spent by each customer.

data = {
    "Customer": ["Alice", "Bob", "Alice", "Alice", "Bob", "Bob", "Alice", "Bob"],
    "Item": [
        "Pen",
        "Pencil",
        "Notebook",
        "Eraser",
        "Pen",
        "Pencil",
        "Notebook",
        "Eraser",
    ],
    "Price": [10, 5, 50, 20, 10, 5, 50, 20],
    "Quantity": [3, 4, 2, 5, 10, 6, 1, 2],
}

df = pd.DataFrame(data)
df["Cost"] = df["Price"] * df["Quantity"]
dfg = df.groupby(by="Customer").agg({"Cost": "sum"}).reset_index()
print(dfg.rename(columns={"Cost": "Total Spent"}))

  Customer  Total Spent
0    Alice          280
1      Bob          190

In [10]:
# Write a Python program using Pandas to create a DataFrame
# from the given data and find the month with the highest average
# temperature.

data = {
    "Month": [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
    ],
    "Temperature": [20, 22, 25, 27, 30, 32, 35, 34, 30, 28, 24, 21],
}

df = pd.DataFrame(data)
imax = df["Temperature"].idxmax()
df.iloc[imax, 0]

'Jul'

In [14]:
# Write a Python program using Pandas to create a DataFrame
# from the given data and find the total amount spent per item,
# as well as the total amount spent by all customers.

data = {
    "Customer": ["Alice", "Bob", "Alice", "Alice", "Bob", "Bob", "Alice", "Bob"],
    "Item": [
        "Pen",
        "Pencil",
        "Notebook",
        "Eraser",
        "Pen",
        "Pencil",
        "Notebook",
        "Eraser",
    ],
    "Price": [10, 5, 50, 20, 10, 5, 50, 20],
    "Quantity": [3, 4, 2, 5, 10, 6, 1, 2],
}

df = pd.DataFrame(data)
df["Total"] = df["Price"] * df["Quantity"]
dfg = df.groupby(by="Item").agg({"Total": [("Total Spent", "sum")]}).reset_index()
print(dfg)
print(df["Total"].sum())

       Item       Total
            Total Spent
0    Eraser         140
1  Notebook         150
2       Pen         130
3    Pencil          50
470

In [ ]:
# Write a Python program using Pandas to create a DataFrame
# from the given data and calculate the monthly average
# temperature difference between two cities.

data = {
    "Month": [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
    ],
    "City_A_Temp": [20, 22, 25, 27, 30, 32, 35, 34, 30, 28, 24, 21],
    "City_B_Temp": [10, 12, 15, 17, 20, 22, 25, 24, 20, 18, 14, 11],
}


df = pd.DataFrame(data)

In [16]:
# Write a Python program using Pandas to create a DataFrame from the given data and calculate the monthly average temperature difference between two cities.


data = {
    "Month": [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
    ],
    "City_A_Temp": [20, 22, 25, 27, 30, 32, 35, 34, 30, 28, 24, 21],
    "City_B_Temp": [10, 12, 15, 17, 20, 22, 25, 24, 20, 18, 14, 11],
}

df = pd.DataFrame(data)
df["diff"] = abs(df["City_A_Temp"] - df["City_B_Temp"])
df["diff"].mean()

10.0